name: Docker Build and Push

on:
  schedule:
    - cron: "0 9 * * 3" # Wednesday 9 AM
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get commit SHA for PurpleI2P/i2pd
        id: get_commit_sha
        run: |
          git clone https://github.com/PurpleI2P/i2pd.git
          cd i2pd
          git checkout openssl
          I2P_COMMIT_SHA=$(git rev-parse --short HEAD)
          echo "I2P_COMMIT_SHA=$I2P_COMMIT_SHA" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile-tor
          platforms: linux/arm64,linux/amd64,linux/arm/v7
          push: true
          tags: shrirajhegde/i2pd-tor:latest,shrirajhegde/i2pd-tor:${{ env.I2P_COMMIT_SHA }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
